<form action="{{ path('search') }}" id="search" method="get">
    <input class="form-control" id="search_form" name="search_word" type="text" placeholder="Search">
    <img src="{{ asset('images/search.png') }}" id="image">
</form>